body {
  background: #fbfcfe;
  color: #fbfcfe;
}

div {
  border-radius: 5px;
}

/* Header */

#header {
  height: 60px;
  width: 97.5%;
  background-color: #017ac8;
  position: fixed;
  z-index: 1;
  position: fixed;
  margin-top: -20px;
  margin-bottom: 10px;
}

#header a {
  color: white;
}

/* Left */

.left {
  height: 400px;
  width: 10%;
  background-color: #8b929c;
  float: left;
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* Right */

.right {
  height: 400px;
  width: 88%;
  background-color: #6f2a41;
  float: right;
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* Footer */

#footer {
  height: 50px;
  width: 97.5%;
  background-color: blue;
  clear: both;
}

/* Extra code */
#name {
  float: left;
  margin-left: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

#email {
  float: right;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-family: Verdana, sans-serif;
}

h4 {
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: Verdana, sans-serif;
}

.right p {
  margin-left: 5px;
  margin-right: 5px;
  margin-toop: -10px;
  font-family: Verdana;
  font-size: 15px;
}

li {
  list-style-type: square;
  font-family: Verdana;
}

a:hover {
  font-weight: bold;
}

/* Footer */
#footer {
  height: 50px;
  background:#263960;
  clear: both;
  position: relative;
  font-family: Verdana;
  font-size: 14px;
  text-align: center;
}

#footer p {
  position: relative;
  padding-top: 15px;
}

#copyright {
  font-family: Verdana;
  color: black;
}
